Geometric_Tools_For_Computer_Graphics.pdf
156_Yazyik_programm.djvu
Gradi_Buch_-_Obektno-orientirovanny_analiz_i_proektirovanie_s_primerami_prilozheniy_-_2008.djvu
Knut_D_-_Iskusstvo_Programmirovania_Tom_1_3-E.pdf
RUS_-_Stroustrup_-_The_CPP_Programming_Language_3ed.djvu
CMakeTests
